#mainContentContact{
    background-color: white;
}
#contentWrapperContact{
    padding: 40px;
}

#contentWrapperContact h1{
    font-size: 3rem;
    font-family: harmony;
    margin-bottom: 40px;
}
form {
    border: 1px solid #2F4858;
    padding:20px;
}
form input{
    display:block;
    border:.25px solid black;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    padding: 20px;
}

form textarea{
    border:.25px solid black;
    padding: 20px;
    display: block;
}
#submit{
    background-color: #2F4858;
    border: none;
    color: white;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.formAndInfoWrapper{
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}




.info{
    color: white;
    background-color: #2F4858;
    padding: 40px;
    margin-left: 20px;
}

.info ul li {
    list-style: none;
}
.info a{
    color: white;
}
.infoHeader{
    margin-bottom: 20px;
    margin-top:20px;
}


@media only screen and (max-width: 735px) {
    .info{
        width: 100%;
        margin-left: 0px;
    }
    form input, form, form textarea{
        width: 100%;
    }
}