*{
    margin: 0;
    padding: 0;
    
}

*,*::before, *::after{
    box-sizing: inherit;
}

/* By using rem CSS units, components will change size when the root font size changes */

html{
    box-sizing: border-box;
    font-size: 62.5%; /* 10px / 16px = 62.5% -> 1 rem = 10 px */
}




/**************/
/* TYPOGRAPHY */
/**************/

@font-face {
    font-family:harmony;
    src: url(../font/harmony.otf);
}
@font-face {
    font-family: abayah;
    src: url(../font/abayha.ttf);
}
 
h1{font-size: 6rem; font-family:harmony;}
h2{font-size: 5rem; font-family:harmony;}
h3{font-size: 4rem; font-family:harmony;}
h4{font-size: 3rem; font-family:harmony;}
h5{font-size: 2.5rem; margin-top: 2rem; margin-bottom: 2rem; font-family:harmony;}

p, li, a, table, div{font-family: abayah; font-size: 2rem; line-height: 1.5;}

p{
    margin: 1.5rem 0rem;
}

.menu li a {
    font-size: 4rem;
}

hr{
    height: 1.5rem;
    background: #2F4858;
    border: none;
}

/* changing root font size to affect rem */ 

@media only screen and (max-width: 1134px) {
    html{
        font-size: 50%;
    }
}
@media only screen and (max-width: 911px) {
    html{
        font-size: 40%;
    }
}
@media only screen and (max-width: 732px) {
    h1{
        font-size: 4.5rem;
    }
    
}
@media only screen and (max-width: 578px) {
    h1{
        font-size: 3.5rem;
    }
    
}
@media only screen and (max-width: 474px) {
    h1{
        font-size: 2.5rem;
    }
    
}
@media only screen and (max-width: 440px) {
    h1{
        font-size: 1.5rem;
    }
    h3, h2{
        font-size: 1.5rem !important;
    }
    header nav img {
        width: 5rem !important;
        height:5rem !important;
    }
    
}


/*******************/
/* TYPOGRAPHY END */
/*****************/

/*******
****HEADER START
********/

header{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/code.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
}


header nav{
    margin: 0px;
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    padding: 4rem;
}
header nav img{
    width: 10rem;
    height: 10rem;
}
.title{
    background:#634A90;
    color: white;
    width: 100%;
    padding: 4rem;
}
.logoAndNavWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logoAndNavWrapper a{
    text-decoration: none;
}
.logoAndNavWrapper h1{
    margin-left: 2rem;
    color:white;
}

nav ul{
    padding: 0px;
    margin:0px;
    list-style: none;
    padding-left: 4rem;
    margin: 0px;
    display: flex;
    justify-content: space-between;
}
nav ul li{
    padding: 0px;
    margin: 0px;
    margin-right: 1rem;
    cursor:pointer;
}

nav ul li:hover{
    text-decoration: underline;
}

nav ul li:last-child { 
    margin-right: 0px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}


 /* HAMBURGER MENU, borrowed from https://codepen.io/alvarotrigo/pen/MWEJEWG Customized with color by Borgar Flaen Stensrud*/
 /* COMMENT::::: There are better ways to create a hamburger menu, but we where not allowed to use javascript, so I used this hack. */
 .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  .menu:last-child{
      margin-right: 40rem;
  }
  .menu-button-container {
    display: none;
    height: 0.4rem;
    width: 3rem;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  
 #menu-toggle {
    display: none;
  }

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: white;
  position: absolute;
  height: 0.4rem;
  width: 3rem;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 0.2rem;
}

.menu-button::before {
    content: "";
    margin-top: -0.8rem;
  }
  
  .menu-button::after {
    content: "";
    margin-top: 0.8rem;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

@media (max-width:1284px) {
    .logoAndNavWrapper{
        align-items: center;
        flex-direction: column;
    }
}  
 


@media (max-width: 700px) {
    h1{ line-height: normal;}
    
    header nav{
        display: flex;
    line-height: normal;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    }
  .menu-button-container {
    display: flex;
    margin: 2rem 0px;
  }
  .menu {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: flex;
  }
  .menu:last-child {
    margin-right: 0px;
    }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 3.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #334E7B;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  nav ul li a{
    color: white;
}
}


/*Hamburger menu end  */ 


/*******
****HEADER END
********/

/***
**** MAIN CONTENT **
****/
.mainContent{
    padding: 4rem;
    background-color: white;
    background-repeat: no-repeat;
}

.mainContent h2{
    margin-bottom: 8rem;
    color: black;
    font-size: 4rem;
    font-family:harmony;
}

/***
**** MAIN CONTENT END **
****/
/***
**** NEWS LETTER **
****/
.newsletter{
    background:#D40063;
    color: white;
    font-family: harmony;
    width: 100%;
    background-size: 100%;
    padding: 4rem;
    font-size: 2rem;
}

.newsletter h2{
    margin-bottom: 4rem;
}
.input{
    margin-bottom: 4rem;
}
.btn{
    color: white;
    background: #2F4858;
    padding: 2rem;
    margin-left: 2rem;
    cursor: pointer;
}
.btn:hover{
    background-color: #634A90;
}
.newsletter div input{
    padding: 2rem;
    width: 30rem;
    max-width: 100%;
}

/***
**** NEWS LETTER END **
****/
/********* about us mediaquery ***/

@media only screen and (max-width: 1336px) {
    .aboutUs ul li{
        margin-bottom: 4rem;
    }
    .aboutUs ul li:last-child{
        margin-bottom: 0px;
    }
    .aboutUs ul{
        justify-content: start;
    }
}
/********* about us mediaquery span of about us***/
@media only screen and (max-width: 936px) {

    .aboutUs ul {
        flex-direction: column;
    }
    .aboutUs ul li, .aboutUs ul {
        min-width: 100%;
    }
    
}

@media only screen and (max-width: 516px) {
    .btn{
        margin: 0px;
    }
}
  
/***
**** FOOTER **
****/
footer{
    background-color: #634A90;
    color: white;
    position: static;
    bottom: 0px;
    width: 100%;
    padding: 4rem;
    font-family: harmony;
}
.logoWrapper{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.logoWrapper img{
    width: 7rem;
    height: 7rem;
    margin-right: 2rem;
}

footer .logoWrapper{
    justify-content: center;
    margin-bottom: 4rem;
}
.footerHeader{
    margin-bottom: 2rem;
}
.footerWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #2F4858;
}
.footerWrapper div{
    padding: 2rem;
    background-color: #2F4858;
}

.footerWrapper ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.footerWrapper ul li{
    text-align: start;
}
.footerWrapper ul li a{
    text-decoration: underline;
    color:white;
}
.copyright{
    margin-top:4rem;
    font-family: harmony;
    text-align: center;
}
.footerLink{
    margin-bottom: 2rem;
}

.footerLink img{
    max-width: 10rem;
}
.linkedin{
    width:5rem;
}
.github{
    margin-left: -0.5rem;
}
.footernav li{
    display: block;
}
@media only screen and (max-width: 723px) {
    .footerWrapper{
        flex-direction: column;
        padding-left: 4rem;
    }
    .footerWrapper div{
        padding-left:0px;
    }
 }

/***
**** FOOTER  END**
****/


 /**************/
 /**INDEX.html*/
 /************/
 

#indexBanner{
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color:black;
    flex-wrap: wrap;
}

#indexBanner div{
    padding: 4rem;
    text-align: center;
}
#indexBanner div p{
    max-width: 27rem;
}
#indexBanner img{
    width: 50rem;
}

#headerLineIndex{
    background-color: #634A90;
    color: white;
    padding: 4rem;
}

@media only screen and (max-width: 1217px) {
    #indexBanner img{
        display: none;
    }
    #indexBanner{
        justify-content: center;
    }
}

  /* about us section */
.aboutUs{
    width: 100%;
}
.aboutUs ul{ 
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
}

.aboutUs ul li{
    list-style:none;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    margin-right:2rem;
    
    background-color: white;
    filter:drop-shadow(.5rem .5rem 1rem #000);
    color:black;
}


.aboutUs ul li img{
    display: block;
  max-width:100%;
  max-height:30rem;
  width: auto;
  height: auto;
  
}

.aboutUs .aboutInfo{
    padding: 2rem;
}
.aboutImg{
    background-color: #334E7B;
    display: flex;
    justify-content: center;
}

.aboutUs ul li:last-child{
    margin-right: 0rem;
}



.aboutUs ul li h3{
    margin-bottom: 2rem;
    font-family:harmony;
}


.products{
    grid-column: center-start / center-end;
    margin: 0 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;
    margin-bottom: 4rem;
}
.productDisplay{
    background-color: #f9f7f6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3.5rem;
}
.product_img{
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/2;
    z-index: 1;
}
.product_name{
    grid-row: 1/2;
    z-index: 3;
    justify-self: center;
    -ms-flex-item-align: end;
    align-self: end;
    grid-column: 1/-1;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: #2F4858;
    color: #fff;
    width: 80%;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

.product_price, .product_language, .product_contributor, .delivery_time{
    margin: 0rem 2rem;
    display: flex;
    align-items: center;
}

.product_btn{
    grid-column: 1/-1;
    background-color: #634A90;
    color: #fff;
    border: none;
    border-radius: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    -webkit-transition: all .2s;
    transition: all .2s;
    text-align: center;
    text-decoration: none;
}
.product_btn:hover{
    background-color: #D40063;
    text-decoration: underline;
}



 /******************/
 /**INDEX.html END*/
 /****************/

/********************/
/*** PRODUCT.html **/
/******************/


#mainContentProduct{
    background: url(../img/swirl.png);
    padding: 4rem;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 4rem;
}





.product{
    width: 80rem;
    background-color: white;
    filter:drop-shadow(.5rem .5rem 1rem #000);
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "photo content";
    overflow: hidden;
    
}

 
/* Change the grid to two row setup  and removes Background*/

@media only screen and (max-width: 1325px) {
    .product{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: "photo"
                             "content"; 
        width: 100%;
    }
    .product img{
        width: 100%;
    }
    #mainContentProduct{
        background: white;
    }
}



.product:first{
    margin-top:0px;
}
.product a img{
    grid-area: photo;
    height: 100%;
    max-width: 200%;
}
.product .content{
    padding:4rem;
    background:#2F4858;
    color: white;
    grid-area: content;
}
.product h2{
    font-family: harmony;
    font-size: 4rem;
    color: white;
}

.product a{
    text-decoration: none;
    color: #000;
}



.menuBar{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    padding-bottom: 2rem;
}
.menuBar .btnProd{
    width: 100%;
    height: 5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: abayah;
}
.wishlist{
    border:solid 0.1rem #000;
    color: #000;
    background-color: white;
}
.product .buy{
    background-color: #000;
    border: #000 0.1rem solid;
    color: white;
}


/****************/
/* TABLE STYLES */
/***************/

#productTable{
    padding: 4rem;
}

table{
    width: 100%;
    margin-top: 4rem;
}

table tr th{
    text-align: left;
    padding: 2rem;
}

table tr td {
    padding: 2rem;
}

#thHeader{
    background-color: #334E7B;
    color: white;
}

#tr1, #tr3{
    background-color: white;
}

#tr2, #tr4{
    background: #2F4858;
    color: white;
}

/*********************/
/* TABLE STYLES END */
/*******************/

/***********************/
/*** PRODUCT.html END **/
/***********************/

/*********************/
/**** ABOUT.html ****/
/*******************/
#mainContentAbout{
    background-color: white;
    padding: 4rem;
}

#mainContentAbout h2{
    font-size: 3rem;
    font-family: harmony;
}

#aboutWrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 4rem;
    flex-wrap: wrap;
}
.ingress{
    width: 40rem;
    background-color: #2F4858;
    padding: 2rem;
    color: white;
}
.ingress h3{
    margin-bottom: 2rem;
}
.employees{
    width: 70rem;
    border:.1rem solid #2F4858;
    padding: 4rem;
    padding-top: 2rem;
}

.employees img{
    float: left;
    border-radius: 50%;
    width: 10rem;
    margin-right: 4rem;
    margin-top: 2rem;
    filter: drop-shadow(.1rem .2rem .3rem black);
}

.empCont{
    margin-top: 2rem;
}
.empCont h4{
    margin-bottom: 2rem;
}

.empCont h5{
    margin: 2rem 0px;
}



/* About media query to span ingress and employees across site width*/
@media only screen and (max-width: 1196px) {
    .ingress{
        margin-bottom: 0px;
        width: 100%;
    }
    .employees{
        width: 100%;
    }
 }


/*************************/
/**** ABOUT.html END ****/
/***********************/


 /********************/
 /**** CONTACT.html */
 /******************/

 #mainContentContact{
    background-color: white;
}
#contentWrapperContact{
    padding: 4rem;
}

#contentWrapperContact h2{
    font-family: harmony;
    margin-bottom: 4rem;
}
/*contact Form styles */
.formAndInfoWrapper form {
    border: .1rem solid #2F4858;
    padding:2rem;
}
.formAndInfoWrapper form input{
    display:block;
    border:.025rem solid black;
    margin-bottom: 2rem;
    width: 100%;
    height: 5rem;
    padding: 2rem;
}

.formAndInfoWrapper form textarea{
    border:.025rem solid black;
    padding: 2rem;
    display: block;
}
#submit{
    background-color: #2F4858;
    border: none;
    color: white;
    padding: 2rem;
    margin-top: 2rem;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.formAndInfoWrapper{
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}
/*contact Form styles end */

/* Styles for contact info */

.info{
    color: white;
    background-color: #2F4858;
    padding: 4rem;
    width: 60rem;
}

.info ul li {
    list-style: none;
}
.info a{
    color: white;
}
.infoHeader{
    margin:2rem 0rem;
}
/* Styles for contact info END */
/*span contact info and form over page width -8rem(padding) */
@media only screen and (max-width: 1018px) {
    .info{
        width: 100%;
        margin-left: 0px;
    }
    .formAndInfoWrapper form input, form, form textarea{
        width: 100%;
    }
}
 /***********************/
 /**** CONTACT.html END */
 /***********************/